apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: house-price-model
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: house-price-model
  template:
    metadata:
      labels:
        app: house-price-model
    spec:
      containers:
        - name: house-price-model
          image: oviya13/house-price-model:latest
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
  strategy:
    canary:
      steps:
        - setWeight: 20
        - pause: { duration: 30s }
        - setWeight: 50
        - pause: { duration: 30s }
        - setWeight: 100
