name: MLops CI

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:  
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: set up python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11.4'

    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    -name: run dataprocessing
      run: |
        python src/data/run_processing.py \
          --input data/raw/housing.csv\
          --output data/processed/cleaned_house_data.csv 
    -name: do featureengineering
      run: |
        python src/features/engineer.py \
          --input data/processed/cleaned_house_data.csv \
          --output data/processed/featured_house_data.csv \
          --preprocessor models/trained/preprocessor.pkl
    -name: train model
      run: |
        python src/models/train_model.py \
          --config configs/model_config.yaml \
          --data data/processed/featured_house_data.csv \
          --models-dir models \
          --mlflow-tracking-uri http://localhost:5555