name: MLops CI

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:  
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: set up python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11.4'

    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

<<<<<<< HEAD

=======
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push FastAPI image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: oviya13/fastapi:dev

    - name: Build and push Streamlit image
      uses: docker/build-push-action@v4
      with:
        context: ./streamlit_app
        file: ./streamlit_app/Dockerfile
        push: true
        tags: oviya13/streamlitr:dev

>>>>>>> da8e578cd5f7098aa494dde6d988cac61f4502cd
